<html>
<head>
    <style>
        body div {
            margin: 25px;
            padding: 10px 20px 10px 30px;
            background-color: #e4e4e4;
            color: #222;
        }
    </style>
</head>
<body>
    <div>
        <h2 id="page-not-found">[Error 404]: Page not found</h2>

        <p>Sorry... but the page you were looking for was not found on this server.</p>

        <p>Please check the page address, or if you think the website is broken (and have the time), let the site admin know by sending an email to : motleytechnet+brokensite@gmail.com</p>
        <p>Head over to <a href="/">the site mainpage</a>.</p>

    </div>
</body>
</html>
