<html>
<head>
    <style>
        body div {
            margin: 25px;
            padding: 10px 20px 10px 30px;
            background-color: #e4e4e4;
            color: #222;
        }
    </style>
</head>
<body>
    <div>
        <h2 id="page-not-found">Server ran into errors</h2>

        <p>Oh boy... we are terribly sorry. It seems the server ran into an error.</p>
        <p>The error has been logged and the site admin will look into it.</p>
        <p>Head over to <a href="/">the site mainpage</a>.</p>

    </div>
</body>
</html>
