{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}MotleyTech{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% render_block "css" %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/mt_theme.css">
  </head>
  <body>
    {% cms_toolbar %}
    <div class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="/static/images/motleytech_logo.svg" height="25px" />
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% show_menu 0 1 100 100 "menu.html" %}
          </ul>
        </div>
      </div>

      <div class="container-content">
        {% block content %}
        {% endblock content %}
      </div>
      <footer>
        <div class="footer-message">
          <table class="footer-table">
            <tr>
              <td class="td-align-center">&copy; {% now "Y" %}, MotleyTech
                  [ <a href="/about#reuse-policy">reuse policy</a> ]</td>
            </tr>
          </table>
        </div>
        {% block footer-bottom %}
        {% endblock footer-bottom %}
      </footer>
    </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% render_block "js" %}
  </body>
</html>

