{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% render_block "css" %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/mt_theme.css">
  </head>
  <body style="padding-top:60px">
    {% cms_toolbar %}
        <div class="container">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">MotleyTech</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                {% show_menu 0 1 100 100 "menu.html" %}
              </ul>
            </div>
          </div>

          {% block content %}
          {% endblock content %}

          <footer>
            <table>
              <tr>
                <td>Copyright &copy; 2015 Nagarajan, MotleyTech</td>
                <td>email : motleytechnet@gmail.com</td>
              </tr>
            </table>
          </footer>
        </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% render_block "js" %}
  </body>
</html>

