body {
    background-image: url("/static/images/back_pattern2.png");
    color: #d8d8d8;
}

div.container-content {
    background-color: #222;
    padding: 25px;
}

div.navbar {
    border-radius: 0px 0px 4px 4px;
    min-height: 28px;
    margin-bottom: 0px;
}

.navbar-brand {
    padding: 8px 15px;
}

.navbar-nav li a {
    padding: 10px 15px;
}

.footer-message {
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

.footer-table {
    width: 100%;
    color: #222;
}

.footer-powered-by {
    padding: 20px;
}

.footer-pb-text {
    text-align: center;
    color: #666;
}

.footer-pb-table {
    width: 100%;
    margin: 20px 0px;
}

.footer-pb-img {
    width: 120px;
}

.td-align-left {
    text-align: left;
}

.td-align-right {
    text-align: right;
}

.td-align-center {
    text-align: center;
}

.post-detail li {
    display: inline;
    list-style-type: none;
}

ul.post-detail li {
    /*display: inline;*/
    list-style-type: none;
}

.blog-lead {
    margin-top: 20px;
}

.plugin ul.blog-archive, ul.blog-archive li ul {
    padding-left: 20px;
}

.plugin ul.blog-categories, ul.blog-categories li ul {
    padding-left: 20px;
}

.blog-sidebar h4 {
    font-size: 1.2em;
}

