body {
    background-image: url("/static/images/back_pattern3.png");
    color: #222;
}

div.container-content {
    background-color: #f8f8f8;
    padding: 20px 40px 25px 70px;
    margin: 0px 10px 0px 10px;
}

div.navbar {
    border-radius: 0px 0px 10px 10px;
    border: 0px;
    min-height: 28px;
    margin-bottom: 0px;
    background-image: linear-gradient(to bottom, #222 0, #444 100%);
}

.navbar-brand {
    padding: 8px 20px 8px 40px;
}


.navbar-brand img {
    height: 36px;
}

.navbar-nav li a {
    padding: 10px 15px;
}

.navbar-nav li.dropdown>a {
    padding: 10px 5px 10px 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #ddd;
    padding: 16px 20px;
    font-size: 1.2em;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #bbb;
}


.navbar-default .navbar-nav>.active>a {
    background-image: linear-gradient(to bottom, #444 0, #666 100%);
    color: #ddd;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: #bbb;
}

.navbar-nav>li>.dropdown-menu {

}

article.post-detail>header {
    margin-bottom: 20px;
}

.footer-message {
    background-image: linear-gradient(to bottom, #444 0, #222 100%);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

.footer-table {
    width: 100%;
    color: #777;
}

.footer-powered-by {
    padding: 20px;
}

.footer-pb-text {
    text-align: center;
    color: #666;
}

.footer-pb-table {
    width: 100%;
    margin: 20px 0px;
}

.footer-pb-img {
    width: 120px;
}

.td-align-left {
    text-align: left;
}

.td-align-right {
    text-align: right;
}

.td-align-center {
    text-align: center;
}

/*.post-detail li {*/
    /*display: inline;*/
    /*list-style-type: none;*/
/*}*/

/*ul.post-detail li {*/
    /*/*display: inline;*/*/
    /*list-style-type: none;*/
/*}*/

.blog-lead {
    margin-top: 20px;
}

.plugin ul.blog-archive, ul.blog-archive li ul {
    padding-left: 20px;
}

.plugin ul.blog-categories, ul.blog-categories li ul {
    padding-left: 20px;
}

.plugin ul.blog-tags, ul.blog-tags li ul {
    padding-left: 20px;
}

.blog-sidebar h4 {
    font-size: 1.2em;
}

blockquote {
    border-left-color: #ddd;
    border-left-width: 8px;
}

.noteworthy-equation div.MathJax_Display {
    border: 10px solid #efd650;
    padding: 15px;
    margin: 25px;
    width: inherit;
}

article.post-item header {
    margin-bottom: 20px;
}

article.post-item footer.read-more{
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

div.plugin_video object {
    display: block;
    margin: 20px auto;
}

img.img-center {
    display: block;
    margin: 20px auto;
}

hr {
    border-top: 1px solid #bbb;
}

.app-blog .blog-list article {
    margin-top: 40px;
}

pre {
    border-radius: 4px;
    background: #eeeeee;
    padding: 10px;
    margin-bottom: 15px;
    overflow-x: auto;
    word-break: inherit;
    word-wrap: inherit;
}

code {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #222;
}

.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mb { color: #666666 } /* Literal.Number.Bin */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */
