body {
    background-image: url("/static/images/back_pattern3.png");
    color: #222;
}

div.container-content {
    background-color: #eee;
    padding: 25px;
    margin: 0px 5px 0px 5px;
}

div.navbar {
    border-radius: 0px 0px 5px 5px;
    border: 0px;
    min-height: 28px;
    margin-bottom: 0px;
    background-image: linear-gradient(to bottom, #222 0, #444 100%);
}

.navbar-brand {
    padding: 8px 15px;
}

.navbar-nav li a {
    padding: 10px 15px;
}

.navbar-nav li.dropdown>a {
    padding: 10px 5px 10px 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #ddd;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #bbb;
}


.navbar-default .navbar-nav>.active>a {
    background-image: linear-gradient(to bottom, #444 0, #666 100%);
    color: #ddd;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: #bbb;
}

.navbar-nav>li>.dropdown-menu {

}

article.post-detail>header {
    margin-bottom: 20px;
}

.footer-message {
    background-image: linear-gradient(to bottom, #444 0, #222 100%);
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}

.footer-table {
    width: 100%;
    color: #777;
}

.footer-powered-by {
    padding: 20px;
}

.footer-pb-text {
    text-align: center;
    color: #666;
}

.footer-pb-table {
    width: 100%;
    margin: 20px 0px;
}

.footer-pb-img {
    width: 120px;
}

.td-align-left {
    text-align: left;
}

.td-align-right {
    text-align: right;
}

.td-align-center {
    text-align: center;
}

/*.post-detail li {*/
    /*display: inline;*/
    /*list-style-type: none;*/
/*}*/

/*ul.post-detail li {*/
    /*/*display: inline;*/*/
    /*list-style-type: none;*/
/*}*/

.blog-lead {
    margin-top: 20px;
}

.plugin ul.blog-archive, ul.blog-archive li ul {
    padding-left: 20px;
}

.plugin ul.blog-categories, ul.blog-categories li ul {
    padding-left: 20px;
}

.blog-sidebar h4 {
    font-size: 1.2em;
}

blockquote {
    border-left-color: #ddd;
    border-left-width: 8px;
}

.noteworthy-equation div.MathJax_Display {
    border: 10px solid #efd650;
    padding: 15px;
    margin: 25px;
    width: inherit;
}

