{% load i18n l10n sekizai_tags static cms_tags %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="/static/cmsplugin_pybook/css/custom.css">
{% endaddtoblock %}

{% addtoblock "js" %}
    <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- MathJax configuration -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
        },
        // Center justify equations in code and markdown cells. Elsewhere
        // we use CSS to left justify single line equations in code cells.
        displayAlign: 'center',
        "HTML-CSS": {
            styles: {'.MathJax_Display': {"margin": 0}},
            linebreaks: { automatic: true }
        }
    });
    </script>
{% endaddtoblock %}

<div class="pybook-basic-item">
    {% if basic_data %}
        {{ basic_data | safe }}
    {% else %}
        {{ errors }}
    {% endif %}
</div>

